<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Login | Student Management</title>

<link rel="stylesheet" href="/static/style.css">

<!-- Icons -->
<link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

</head>

<body>

<div class="login-wrapper">

    <!-- LEFT SIDE -->
    <div class="login-info">
        <h1>🎓 Student Management System</h1>
        <p>
            Manage students, records and administration
            easily using our secure dashboard.
        </p>
    </div>


    <!-- LOGIN CARD -->
    <div class="login-card">

        <h2>Welcome Back 👋</h2>
        <p class="subtitle">Login to continue</p>

        <form method="post">

            <div class="input-box">
                <i class="fa fa-user"></i>
                <input type="text"
                       name="username"
                       placeholder="Username"
                       required>
            </div>

            <div class="input-box">
                <i class="fa fa-lock"></i>
                <input type="password"
                       name="password"
                       placeholder="Password"
                       required>
            </div>

            <button class="login-btn">
                Login
            </button>

        </form>

        <p class="bottom-text">
            Don’t have an account?
            <a href="/register">Register</a>
        </p>

    </div>

</div>

</body>
</html>